@using BuildMonitor.ExtensionMethods
@model BuildMonitor.Models.Admin.EditBuildServerViewModel

@{
    ViewBag.Title = "Edit settings";
}

@section Header
{
<script type="text/javascript">
    $(document).ready(function () {

        var dropDown = $('@Html.JQueryIdFor(m => m.Config.ProjectIds)');
        var dirty = false;
            
        $("#buildServer").click(function () {
            $("#buildServerSettings").toggle('slow');
        });

        $("input:text").keyup(function() {
            dirty = true;
        });
        
        dropDown.click(function () {
            if (dirty) {
                dirty = false;
                populateProjects(dropDown);
            }
        });
        
        function populateProjects() {
            dropDown.attr('disabled', 'disabled');
            var data = $("form").serialize();
            $.ajax({
                url: '/Admin/GetProjects',
                type: 'POST',
                cache: false,
                data: data,
                accepts: 'application/json',
                success: function (projects) {
                    if (projects) {
                        dirty = false;
                        dropDown.children('option').remove();

                        for (var ii = 0; ii < projects.length; ii++) {
                            var project = projects[ii];
                            dropDown.append($('<option></option>').attr('value', project.Id).html(project.Name));
                        }
                    }
                    dropDown.removeAttr('disabled');
                },
                error: function (xhr, error) {
                    dropDown.removeAttr('disabled');
                }
            });
        }
    });
    
</script>
}

<div class="thirdWidth">
    <h2>Build server</h2>
    <div id="buildServer" class="statusRow spacingBelow">@Model.Config.Name</div>
    @using (Html.BeginForm("EditBuildServer","Admin", FormMethod.Post))
    {
        <div id="buildServerSettings" class="hidden detailPane spacingLeft">
        
            <div class="clearBoth">
                @Html.LabelFor(m => m.Config.Name)
                @Html.TextBoxFor(m => m.Config.Name, new {@class="twoThirdsWidth floatRight"})
            </div>
            <div class="clearBoth">
                @Html.LabelFor(m => m.Config.Host)
                @Html.TextBoxFor(m => m.Config.Host, new {@class="twoThirdsWidth floatRight"})
            </div>
            <div class="clearBoth">
                @Html.LabelFor(m => m.Config.Username)
                @Html.TextBoxFor(m => m.Config.Username, new {@class="twoThirdsWidth floatRight"})
            </div>
            <div class="clearBoth">
                @Html.LabelFor(m => m.Config.Password)
                @Html.PasswordFor(m => m.Config.Password, new {@class="twoThirdsWidth floatRight"})
            </div>
            <div class="clearBoth">
                @Html.LabelFor(m => m.Config.ProjectIds, "Projects")
                @Html.DropDownListFor(m => m.Config.ProjectIds, Model.AvailableProjects,
                            new {@class="twoThirdsWidth floatRight", multiple="multiple"} )
            </div>
            <div class="spacingAround clearBoth"></div>
            <input type="submit" value="Save" />
        </div>
    }
</div>

<div id="output"></div>


