@using MasterData.Web.ExtensionMethods
@using MasterData.Web.Menus
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@string.Format("MasterData - {0}", ViewBag.Title)</title>
    @Html.Partial("CssAndStuff")
    @RenderSection("Header", false)
</head>
    <body>
        <div class="page-header">
            <div class="container">
                @Html.Partial("TopMenu", MenuBar.Top)
            </div>
        </div>
        <div class="container">
            @Html.Partial("UserMessages", TempData.GetMessages())
            @RenderBody()
        </div>
    </body>
</html>
