@model VisualFarmStudio.Models.Bonde.RegisterBondeViewModel
@using VisualFarmStudio.ExtensionMethods;

@{
    ViewBag.Title = "title";
}

@section header
{
    <script type="text/javascript">
        $(document).ready(function() {
            var field = $(@Html.Raw(@Html.JQueryIdFor(m => m.Bonde.Fornavn).ToJavaScript()));
            field.focus();
        });
    </script>
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Bonde.Fornavn)
    @Html.TextBoxFor(m => m.Bonde.Fornavn)
    <div class="clearer"></div>
    @Html.LabelFor(m => m.Bonde.Etternavn)
    @Html.TextBoxFor(m => m.Bonde.Etternavn)
    <div class="clearer"></div>
    @Html.LabelFor(m => m.Bonde.Brukernavn)
    @Html.TextBoxFor(m => m.Bonde.Brukernavn)
    <input type="submit" value="Registrer"/>
}

